In [1]:
import pandas as pd
import numpy as np
import json

import seaborn as sns

%matplotlib inline
import matplotlib.pyplot as plt

# read populatoin file

In [2]:
pop_df = pd.read_csv('C://Users/liuleo/Documents/Eiqua_SG/External_data/Cleaning/pop_density.csv',sep=",")

In [3]:
pop_df.fillna(0,inplace=True)

In [4]:
pop_df['pop_rate'] = pop_df['Population'] / pop_df['Population'].sum()

In [5]:
pop_df['zones'] = pop_df['zones'].apply(lambda x : x.replace(" ","").upper())

In [6]:
pop_df['log_pop'] = pop_df['Population'].apply(lambda x : np.log10(x) if x !=0 else 0)

In [7]:
pop_df['Density'] = pop_df['Density'].apply(lambda x : float(x))
pop_df['Area'] = pop_df['Area'].apply(lambda x : float(x))
pop_df['Population'] = pop_df['Population'].apply(lambda x : float(x))

# Reading house pricing file

In [8]:
hdb = pd.read_csv('C:/Users/liuleo/Documents/Eiqua_SG/External_data/zones_subzones/hdb_zone_price.csv')

In [9]:
all_df = pop_df.merge(hdb,on='zones',how='left')

In [ ]:
#all_df.fillna(0,inplace=True)

In [10]:
condo = pd.read_csv('C:/Users/liuleo/Documents/Eiqua_SG/External_data/zones_subzones/condo_zone_price.csv')

In [11]:
all_df = all_df.merge(condo,on='zones',how='left')

In [ ]:
#all_df.fillna(0,inplace=True)

In [12]:
all_df.rename(columns={'price_psqm_mean_x':'price_psqm_mean_hdb',
                      'price_psqm_median_x':'price_psqm_median_hdb',
                      'price_psqm_mean_y':'price_psqm_mean_condo',
                      'price_psqm_median_y':'price_psqm_median_condo'},inplace=True)

# Reading AGE and GENDER

In [13]:
age_gender = pd.read_csv('C:/Users/liuleo/Documents/Eiqua_SG/External_data/Cleaning/age_gender_pop_zone.csv',sep="|")

In [14]:
age_gender['female_male_ratio'] = age_gender['Females'] / age_gender['Males']

In [18]:
age_gender['65+'] = age_gender[['65_to_69','70_to_74','75_to_79','80_to_84','85_and_over']].sum(axis=1)

age_gender['15-'] = age_gender[['0_to_4','5_to_9','10_to_14']].sum(axis=1)

age_gender['25-54'] = age_gender[['25_to_29', '30_to_34', '35_to_39', '40_to_44', '45_to_49','50_to_54']].sum(axis=1)

age_gender['55-64'] = age_gender[['55_to_59','60_to_64']].sum(axis=1)

age_gender['25-34'] = age_gender[['25_to_29', '30_to_34']].sum(axis=1)

age_gender['35-44'] = age_gender[['35_to_39', '40_to_44']].sum(axis=1)

age_gender['45-54'] = age_gender[['45_to_49','50_to_54']].sum(axis=1)

age_gender['15-24'] = age_gender[['15_to_19', '20_to_24']].sum(axis=1)

In [19]:
for col in ['15-','15-24','25-54','25-34','35-44','45-54','55-64','65+']:
    age_gender[col + '_rate'] = age_gender[col] / age_gender['Pop']

age_gender.fillna(0,inplace=True)

In [20]:
age_gender_df = age_gender[['zones_name','female_male_ratio','15-_rate','15-24_rate','25-54_rate','25-34_rate','35-44_rate','45-54_rate',
                            '55-64_rate','65+_rate']]

In [21]:
age_gender_df.rename(columns={'zones_name':'zones'},inplace=True)

C:\ProgramData\Anaconda2\lib\site-packages\pandas\core\frame.py:2844: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  **kwargs)

# READING Marital Status

In [23]:
marital = pd.read_csv('C:/Users/liuleo/Documents/Eiqua_SG/External_data/Cleaning/age_15_edu_martial_reli_new/Marital_status.csv')

In [24]:
marital['zones'] = marital['zones'].apply(lambda x : x.replace(" ","").upper())

In [25]:
marital= marital[marital['zones']!='OTHERS'].reset_index(drop=True)

In [26]:
marital['Single_rate'] = marital['Total_S'] / marital['Total']
marital['Married_rate'] = marital['Total_M'] / marital['Total']

In [27]:
marital_df = marital[['zones','Single_rate','Married_rate']]

# Reading Ethnic Group

In [29]:
ethnic = pd.read_csv('C:/Users/liuleo/Documents/Eiqua_SG/External_data/Cleaning/ethnic_zone.csv',sep='|')

ethnic.fillna(0,inplace=True)

In [31]:
ethnic['total'] = ethnic[['TotalC','TotalM','TotalI','TotalOTH']].sum(axis=1)

In [32]:
ethnic['Chinese_rate'] = ethnic['TotalC'] / ethnic['total']
ethnic['Malai_rate'] = ethnic['TotalM'] / ethnic['total']
ethnic['Indian_rate'] = ethnic['TotalI'] / ethnic['total']
ethnic['Other_ethnic_rate'] = ethnic['TotalOTH'] / ethnic['total']

In [33]:
ethnic_df = ethnic[['Zones','Chinese_rate','Malai_rate','Indian_rate','Other_ethnic_rate']]

In [34]:
ethnic_df.rename(columns={'Zones':'zones'},inplace=True)

In [35]:
ethnic_df

,zones,Chinese_rate,Malai_rate,Indian_rate,Other_ethnic_rate
0,ANGMOKIO,0.819878,0.074727,0.080964,0.024432
1,BEDOK,0.720897,0.151786,0.086661,0.040656
2,BISHAN,0.851378,0.041455,0.077178,0.029989
3,BOONLAY,NaN,NaN,NaN,NaN
4,BUKITBATOK,0.732912,0.140508,0.098578,0.028001
5,BUKITMERAH,0.786768,0.085986,0.097023,0.030223
6,BUKITPANJANG,0.742915,0.159905,0.074090,0.023090
7,BUKITTIMAH,0.861421,0.010205,0.049013,0.079361
8,CENTRALWATERCATCHMENT,NaN,NaN,NaN,NaN
9,CHANGI,0.474308,0.284585,0.185771,0.055336
10,CHANGIBAY,NaN,NaN,NaN,NaN
11,CHOACHUKANG,0.708099,0.169955,0.094471,0.027475
12,CLEMENTI,0.771497,0.108577,0.082933,0.036993
13,DOWNTOWNCORE,0.798387,0.010753,0.086022,0.104839
14,GEYLANG,0.752843,0.130632,0.084637,0.031889
15,HOUGANG,0.817290,0.079390,0.081144,0.022175
16,JURONGEAST,0.707495,0.161666,0.107660,0.023179
17,JURONGWEST,0.697693,0.178347,0.099351,0.024609
18,KALLANG,0.748938,0.078846,0.142871,0.029345
19,LIMCHUKANG,NaN,NaN,NaN,NaN
20,MANDAI,0.802817,0.051643,0.112676,0.032864
21,MARINAEAST,NaN,NaN,NaN,NaN
22,MARINASOUTH,NaN,NaN,NaN,NaN
23,MARINEPARADE,0.751488,0.072030,0.123333,0.053150
24,MUSEUM,0.594595,NaN,0.108108,0.297297
25,NEWTON,0.703757,0.008671,0.112717,0.174855
26,NORTHEASTERNISLANDS,NaN,NaN,NaN,NaN
27,NOVENA,0.809335,0.043967,0.087727,0.058971
28,ORCHARD,0.673913,0.010870,0.076087,0.239130
29,OUTRAM,0.816123,0.087409,0.072011,0.024457
30,PASIRRIS,0.671313,0.203160,0.085210,0.040317
31,PAYALEBAR,NaN,NaN,NaN,NaN
32,PIONEER,NaN,NaN,NaN,NaN
33,PUNGGOL,0.773415,0.131924,0.070335,0.024326
34,QUEENSTOWN,0.789211,0.088925,0.081583,0.040281
35,RIVERVALLEY,0.700000,0.009783,0.138043,0.152174
36,ROCHOR,0.717123,0.043836,0.202740,0.036301
37,SELETAR,0.629630,NaN,0.148148,0.222222
38,SEMBAWANG,0.727688,0.134849,0.093950,0.043512
39,SENGKANG,0.776998,0.109251,0.088059,0.025692
40,SERANGOON,0.840736,0.042841,0.088996,0.027428
41,SIMPANG,NaN,NaN,NaN,NaN
42,SINGAPORERIVER,0.687500,0.003676,0.080882,0.227941
43,SOUTHERNISLANDS,0.547297,0.013514,0.101351,0.337838
44,STRAITSVIEW,NaN,NaN,NaN,NaN
45,SUNGEIKADUT,0.835294,NaN,0.129412,0.035294
46,TAMPINES,0.671681,0.214401,0.082529,0.031389
47,TANGLIN,0.745263,0.010000,0.101579,0.143158
48,TENGAH,NaN,NaN,NaN,NaN
49,TOAPAYOH,0.818167,0.079392,0.074350,0.028091
50,TUAS,NaN,NaN,NaN,NaN
51,WESTERNISLANDS,NaN,NaN,NaN,NaN
52,WESTERNWATERCATCHMENT,0.820225,NaN,0.101124,0.078652
53,WOODLANDS,0.614432,0.248961,0.111116,0.025491
54,YISHUN,0.704525,0.168036,0.100158,0.027280

# Dwelling type

In [36]:
dwelling = pd.read_csv('C:/Users/liuleo/Documents/Eiqua_SG/External_data/Cleaning/dwelling_type_zone.csv',sep='|')

In [37]:
dwelling.rename(columns={'zones_name':'zones'},inplace=True)

In [38]:
dwelling['total'] = dwelling[[x for x in dwelling.columns.values if x !='zones']].sum(axis=1)

In [39]:
dwelling['HDB_rate'] = dwelling[['HDB 1- and 2-Room Flats','HDB 3-Room Flats','HDB 4-Room Flats','HDB 5-Room and Executive Flats',
                       'HUDC Flats (excluding those privatised)']].sum(axis=1) / dwelling['total']

dwelling['condo_rate'] = dwelling['Condominiums and Other Apartments'] / dwelling['total']
dwelling['Landed Properties_rate'] = dwelling['Landed Properties'] / dwelling['total']

In [40]:
dwelling_df = dwelling
#[['zones','HDB_rate','condo_rate','Landed Properties_rate']]

In [41]:
dwelling_df

,zones,Condominiums and Other Apartments,HDB 1- and 2-Room Flats,HDB 3-Room Flats,HDB 4-Room Flats,HDB 5-Room and Executive Flats,HUDC Flats (excluding those privatised),Landed Properties,Others,total,HDB_rate,condo_rate,Landed Properties_rate
0,ANGMOKIO,11960,12500,61840,44910,22050,0,16430,1240,170930,0.826654,0.069970,0.096121
1,BEDOK,50250,9900,60500,70940,47920,0,44960,2750,287220,0.658937,0.174953,0.156535
2,BISHAN,14940,1150,5320,30680,26590,0,10720,700,90100,0.707436,0.165816,0.118979
3,BOONLAY,0,0,0,0,0,0,0,0,0,NaN,NaN,NaN
4,BUKITBATOK,24870,1460,27460,49090,28450,0,5700,1030,138060,0.771114,0.180139,0.041286
5,BUKITMERAH,9540,25330,39520,46290,31640,0,510,1620,154450,0.924442,0.061768,0.003302
6,BUKITPANJANG,16200,2540,10360,58330,50580,0,3230,160,141400,0.861457,0.114569,0.022843
7,BUKITTIMAH,34930,130,1030,2760,3610,0,32270,900,75630,0.099564,0.461854,0.426683
8,CENTRALWATERCATCHMENT,0,0,0,0,0,0,0,0,0,NaN,NaN,NaN
9,CHANGI,30,0,440,0,10,0,390,1580,2450,0.183673,0.012245,0.159184
10,CHANGIBAY,0,0,0,0,0,0,0,0,0,NaN,NaN,NaN
11,CHOACHUKANG,16400,4180,5920,77040,72640,0,2510,460,179150,0.891878,0.091543,0.014011
12,CLEMENTI,14440,2730,28360,26720,12180,0,5850,1330,91610,0.764000,0.157625,0.063858
13,DOWNTOWNCORE,1150,0,1110,970,10,0,0,240,3480,0.600575,0.330460,0.000000
14,GEYLANG,18150,10160,30310,32370,16210,0,6530,2110,115840,0.768733,0.156682,0.056371
15,HOUGANG,24370,4380,26310,86420,54880,0,22450,4040,222850,0.771775,0.109356,0.100740
16,JURONGEAST,6810,2140,18540,28180,28440,0,0,480,84590,0.913820,0.080506,0.000000
17,JURONGWEST,12340,7330,35480,105010,105260,0,4460,440,270320,0.936224,0.045650,0.016499
18,KALLANG,17490,12520,27030,24900,15330,0,1480,1510,100260,0.795731,0.174446,0.014762
19,LIMCHUKANG,0,0,0,0,0,0,0,0,0,NaN,NaN,NaN
20,MANDAI,1290,0,0,0,0,0,770,90,2150,0.000000,0.600000,0.358140
21,MARINAEAST,0,0,0,0,0,0,0,0,0,NaN,NaN,NaN
22,MARINASOUTH,0,0,0,0,0,0,0,0,0,NaN,NaN,NaN
23,MARINEPARADE,17160,3700,6730,5170,5580,0,9480,500,48320,0.438328,0.355132,0.196192
24,MUSEUM,370,0,0,0,0,0,0,30,400,0.000000,0.925000,0.000000
25,NEWTON,6320,0,0,0,0,0,520,230,7070,0.000000,0.893918,0.073550
26,NORTH-EASTERNISLANDS,0,0,0,0,0,0,0,0,0,NaN,NaN,NaN
27,NOVENA,17890,2100,7710,6600,4930,0,7360,1050,47640,0.447943,0.375525,0.154492
28,ORCHARD,760,0,0,0,0,0,0,80,840,0.000000,0.904762,0.000000
29,OUTRAM,1780,6430,5420,5130,2200,0,0,480,21440,0.894590,0.083022,0.000000
30,PASIRRIS,27290,1320,810,41080,64390,0,7400,610,142900,0.752974,0.190973,0.051784
31,PAYALEBAR,0,0,0,0,0,0,0,0,0,NaN,NaN,NaN
32,PIONEER,0,0,0,0,0,0,0,0,0,NaN,NaN,NaN
33,PUNGGOL,9480,5440,9060,57110,48770,0,290,240,130390,0.923230,0.072705,0.002224
34,QUEENSTOWN,11130,9020,33550,26140,14650,0,3710,1200,99400,0.838632,0.111972,0.037324
35,RIVERVALLEY,8500,0,0,0,0,0,760,80,9340,0.000000,0.910064,0.081370
36,ROCHOR,2000,810,4890,4660,790,0,160,1010,14320,0.778631,0.139665,0.011173
37,SELETAR,0,0,0,0,0,0,230,0,230,0.000000,0.000000,1.000000
38,SEMBAWANG,2870,2260,1040,29080,37700,0,3750,530,77230,0.907419,0.037162,0.048556
39,SENGKANG,14360,6280,9060,94010,93450,0,1600,620,219380,0.924423,0.065457,0.007293
40,SERANGOON,14720,1200,10900,34380,22390,0,35360,1030,119980,0.574012,0.122687,0.294716
41,SIMPANG,0,0,0,0,0,0,0,0,0,NaN,NaN,NaN
42,SINGAPORERIVER,2680,0,0,0,0,0,0,170,2850,0.000000,0.940351,0.000000
43,SOUTHERNISLANDS,1010,0,0,0,0,0,570,20,1600,0.000000,0.631250,0.356250
44,STRAITSVIEW,0,0,0,0,0,0,0,0,0,NaN,NaN,NaN
45,SUNGEIKADUT,0,0,0,0,0,0,670,130,800,0.000000,0.000000,0.837500
46,TAMPINES,25130,4920,34520,101800,87010,0,4530,1210,259120,0.880866,0.096982,0.017482
47,TANGLIN,14730,0,40,210,250,0,4160,280,19670,0.025419,0.748856,0.211490
48,TENGAH,0,0,0,0,0,0,0,0,0,NaN,NaN,NaN
49,TOAPAYOH,8390,11400,37460,30610,24730,2850,5840,1500,122780,0.871885,0.068334,0.047565
50,TUAS,0,0,0,0,0,0,0,0,0,NaN,NaN,NaN
51,WESTERNISLANDS,0,0,0,0,0,0,0,0,0,NaN,NaN,NaN
52,WESTERNWATERCATCHMENT,0,0,0,0,0,0,0,800,800,0.000000,0.000000,0.000000
53,WOODLANDS,11200,7600,19020,105810,104460,0,600,960,249650,0.948888,0.044863,0.002403
54,YISHUN,11570,4920,39720,99140,44000,0,5430,1070,205850,0.912218,0.056206,0.026378

# Education level

In [42]:
edu = pd.read_csv('C:/Users/liuleo/Documents/Eiqua_SG/External_data/Cleaning/age_15_edu_martial_reli_new/education_age15.csv')

In [43]:
edu['zones'] = edu['zones'].apply(lambda x : x.replace(" ","").upper())

In [44]:
edu= edu[edu['zones']!='OTHERS'].reset_index(drop=True)

In [45]:
edu['University_rate'] = edu['University'] / edu['Total']
edu['Secondary_rate'] = edu[['Secondary','Post-Secondary (Non-Tertiary)','Polytechnic','Professional Qualification and Other Diploma',
                            'University']].sum(axis=1) / edu['Total']

In [46]:
edu['No_Qualification_rate'] = edu['No Qualification'] / edu['Total']

In [47]:
edu_df = edu[['zones','No_Qualification_rate','Secondary_rate','University_rate']]

# Economy status

In [48]:
eco = pd.read_csv('C:/Users/liuleo/Documents/Eiqua_SG/External_data/Cleaning/age_15_edu_martial_reli_new/Economy_status.csv')

In [49]:
eco['zones'] = eco['zones'].apply(lambda x : x.replace(" ","").upper())
eco= eco[eco['zones']!='OTHERS'].reset_index(drop=True)

In [50]:
eco['working_rate'] = eco['Total_working'] / eco['Total']
eco['unemployed_rate'] = eco['Total_unemployed'] / eco['Total']
eco['eco_inactive_rate'] = eco['Total_econo_inactive'] / eco['Total']

In [51]:
eco_df = eco[['zones','working_rate','unemployed_rate','eco_inactive_rate']]

# Religion

In [52]:
religion = pd.read_csv('C:/Users/liuleo/Documents/Eiqua_SG/External_data/Cleaning/age_15_edu_martial_reli_new/relig.csv')

In [53]:
religion.rename(columns={'Planning Area':'zones'},inplace=True)

In [54]:
religion['zones'] = religion['zones'].apply(lambda x : x.replace(" ","").upper())
religion= religion[religion['zones']!='OTHERS'].reset_index(drop=True)

In [55]:
religion['Buddhism_rate'] = religion['Buddhism'] / religion['Total']
religion['Islam_rate'] = religion['Islam'] / religion['Total']
religion['Christinaity_rate'] = religion[['Catho','Oth_Christianity']].sum(axis=1) / religion['Total']
religion['No Religion_rate'] = religion['No Religion'] / religion['Total']
religion['Hinduism_rate'] = religion['Hinduism'] / religion['Total']
religion['Sikhism_rate'] = religion['Sikhism'] / religion['Total']

In [56]:
religion_df = religion[['zones','Buddhism_rate','Islam_rate','Christinaity_rate','No Religion_rate',
                       'Hinduism_rate','Sikhism_rate']]

# Income level

In [57]:
income = pd.read_csv('C:/Users/liuleo/Documents/Eiqua_SG/External_data/Cleaning/age_15_working/income_level.csv')

income['zones'] = income['zones'].apply(lambda x : x.replace(" ","").upper())
income= income[(income['zones']!='TOTAL') & (income['zones']!='OTHERS')].reset_index(drop=True)

income['Below_1000_rate'] = income['Below 1000'] / income['Total']
income['Above_10000_rate'] = income[['10000 - 10999', '11000 - 11999', '12000 over']].sum(axis=1) / income['Total']

income['1000-10000_rate'] = income[['1000 - 1499', '1500 - 1999','2000 - 2499', '2500 - 2999', '3000 - 3999', '4000 - 4999',
       '5000 - 5999', '6000 - 6999', '7000 - 7999', '8000 - 8999','9000 - 9999']].sum(axis=1) / income['Total']

income_df = income[[x for x in income.columns.values if x != 'Total']]

# Working industry

In [61]:
indus = pd.read_csv('C:/Users/liuleo/Documents/Eiqua_SG/External_data/Cleaning/age_15_working_new/working_industry.csv')

In [62]:
indus['zones'] = indus['zones'].apply(lambda x : x.replace(" ","").upper())
indus= indus[indus['zones']!='OTHERS'].reset_index(drop=True)

In [63]:
indus['Manufacture_rate'] = indus['Manufacture'] / indus['Total']
indus['Construction_rate'] = indus['Construction'] / indus['Total']
indus['Services_rate'] = indus['Total_services'] / indus['Total']

In [64]:
indus_df = indus[['zones','Manufacture_rate','Construction_rate','Services_rate']]

# Occupation

In [65]:
occup = pd.read_csv('C:/Users/liuleo/Documents/Eiqua_SG/External_data/Cleaning/age_15_working_new/occupation.csv')

In [66]:
occup['zones'] = occup['zones'].apply(lambda x : x.replace(" ","").upper())
occup= occup[occup['zones']!='OTHERS'].reset_index(drop=True)

In [67]:
occup['gold_collar_rate'] = occup['Legislators Senior Officials & Managers'] / occup['Total']
occup['white_collar_rate_cnt_mgt'] = occup[['Legislators Senior Officials & Managers','Professionals', 'Associate Professionals & Technicians']].sum(axis=1) / occup['Total']

occup['white_collar_rate_not_cnt_mgt'] = occup[['Professionals', 'Associate Professionals & Technicians']].sum(axis=1) / occup['Total']

occup['blue_collar_rate'] = occup[['Clerical Support Workers', 'Service & Sales Workers',
       'Craftsmen & Related Trades Workers', 'Plant & Machine Operators & Assemblers',
       'Cleaners Labourers & Related Workers']].sum(axis=1) / occup['Total']

In [68]:
occup_df = occup[['zones','gold_collar_rate','white_collar_rate_cnt_mgt','white_collar_rate_not_cnt_mgt','blue_collar_rate']]

# Transport time to work

In [69]:
trans_time = pd.read_csv('C:/Users/liuleo/Documents/Eiqua_SG/External_data/Cleaning/age_15_working_new/transport_timeto_work.csv')

In [70]:
trans_time.rename(columns={'Planning Area':'zones'},inplace=True)

In [71]:
trans_time['zones'] = trans_time['zones'].apply(lambda x : x.replace(" ","").upper())
trans_time= trans_time[(trans_time['zones']!='TOTAL') & (trans_time['zones']!='OTHERS')].reset_index(drop=True)

In [72]:
trans_time['trans_work_less_15m_rate'] = trans_time['Up to 15 mins'] / trans_time['Total']
trans_time['trans_work_more_60m_rate'] = trans_time['More than 60 mins'] / trans_time['Total']
trans_time['trans_btw_15_60m_rate'] = trans_time[['16 - 30 mins', '31 - 45 mins','46 - 60 mins']].sum(axis=1) / trans_time['Total']

In [73]:
trans_time_df = trans_time[['zones','trans_work_less_15m_rate','trans_work_more_60m_rate','trans_btw_15_60m_rate']]

# Transport mode to work

In [74]:
trans_mode = pd.read_csv('C:/Users/liuleo/Documents/Eiqua_SG/External_data/Cleaning/age_15_working_new/transport_work.csv')

In [75]:
trans_mode.rename(columns={'Planning Area':'zones'},inplace=True)

In [76]:
trans_mode['zones'] = trans_mode['zones'].apply(lambda x : x.replace(" ","").upper())
trans_mode= trans_mode[trans_mode['zones']!='OTHERS'].reset_index(drop=True)

In [77]:
trans_mode['public_trans_rate'] = trans_mode[['Public Bus Only', 'MRT Only','MRT & Public Bus Only',
                                         'Other Combinations  of MRT or Public Bus']].sum(axis=1) / trans_mode['Total']
trans_mode['private_trans_rate'] = trans_mode[['Taxi Only', 'Car Only','Lorry/Pickup Only']].sum(axis=1) / trans_mode['Total']
trans_mode['no_trans_need_rate'] = trans_mode['No Transport Required'] / trans_mode['Total']

In [78]:
trans_mode_df = trans_mode[['zones','public_trans_rate','private_trans_rate','no_trans_need_rate']]

# Time to school

In [79]:
trans_school_time = pd.read_csv('C:/Users/liuleo/Documents/Eiqua_SG/External_data/Cleaning/age5_student_new/travel_time_school.csv')

In [80]:
trans_school_time.rename(columns={'Planning Area':'zones'},inplace=True)

In [81]:
trans_school_time['zones'] = trans_school_time['zones'].apply(lambda x : x.replace(" ","").upper())
trans_school_time= trans_school_time[(trans_school_time['zones']!='TOTAL') & (trans_school_time['zones']!='OTHERS')].reset_index(drop=True)

In [82]:
trans_school_time['trans_sch_less_15m_rate'] = trans_school_time['Up to 15 mins'] / trans_school_time['Total']
trans_school_time['trans_sch_more_60m_rate'] = trans_school_time['More than 60 mins'] / trans_school_time['Total']
trans_school_time['trans_sch_btw_15_60m_rate'] = trans_school_time[['16 - 30 mins', '31 - 45 mins','46 - 60 mins']].sum(axis=1) / trans_school_time['Total']

In [83]:
trans_school_time_df = trans_school_time[['zones','trans_sch_less_15m_rate','trans_sch_more_60m_rate','trans_sch_btw_15_60m_rate']]

# Tenancy vs owner

In [84]:
ten_own = pd.read_csv('C:/Users/liuleo/Documents/Eiqua_SG/External_data/Cleaning/age_household_new/tenancy_vs_hold.csv')

In [85]:
ten_own['zones'] = ten_own['zones'].apply(lambda x : x.replace(" ","").upper())
ten_own= ten_own[(ten_own['zones']!='TOTAL') & (ten_own['zones']!='OTHERS')].reset_index(drop=True)

In [86]:
ten_own['Owner_rate'] = ten_own['Owner'] / ten_own['Total']
ten_own['tenant_rate'] = ten_own['Tenant'] / ten_own['Total']

In [87]:
ten_own_df = ten_own[['zones','Owner_rate','tenant_rate']]

# Nb person in household

In [88]:
NB_PER = pd.read_csv('C:/Users/liuleo/Documents/Eiqua_SG/External_data/Cleaning/age_household_new/nb_person_in_house.csv')

In [89]:
NB_PER['zones'] = NB_PER['zones'].apply(lambda x : x.replace(" ","").upper())
NB_PER= NB_PER[NB_PER['zones']!='OTHERS'].reset_index(drop=True)

In [90]:
NB_PER['1PER_rate'] = NB_PER['1 Person'] / NB_PER['Total']
NB_PER['2PER_rate'] = NB_PER['2 Persons'] / NB_PER['Total']
NB_PER['3-5_PER_rate'] = NB_PER[['3 Persons','4 Persons','5 Persons']].sum(axis=1) / NB_PER['Total']
NB_PER['6_PER_rate'] = NB_PER['6 or More Persons'] / NB_PER['Total']

In [91]:
NB_PER_df = NB_PER[['zones','1PER_rate','2PER_rate','3-5_PER_rate','6_PER_rate']]

# Family Structure

In [92]:
fam_str = pd.read_csv('C:/Users/liuleo/Documents/Eiqua_SG/External_data/Cleaning/age_household_new/family_structure.csv')

In [93]:
fam_str['zones'] = fam_str['zones'].apply(lambda x : x.replace(" ","").upper())
fam_str= fam_str[fam_str['zones']!='OTHERS'].reset_index(drop=True)

In [94]:
fam_str['no_fam_nucleus_rate'] = fam_str['No Family Nucleus'] / fam_str['Total']
fam_str['two+_fam_nucleus_rate'] = fam_str['Two or More Family Nuclei'] / fam_str['Total']
fam_str['one_nuc_one_gen_rate'] = fam_str['One nucleus_One Generation'] / fam_str['Total']
fam_str['one_nuc_two+_gen_rate'] = fam_str[['One nucleus_Two Generations','One nucleus_Three or More Generations']].sum(axis=1) / fam_str['Total']

In [95]:
fam_str_df = fam_str[['zones','no_fam_nucleus_rate','one_nuc_one_gen_rate','one_nuc_two+_gen_rate','two+_fam_nucleus_rate']]

# Household Income

In [96]:
hou_income = pd.read_csv('C:/Users/liuleo/Documents/Eiqua_SG/External_data/Cleaning/age_household_new/household_income.csv')

In [97]:
hou_income['zones'] = hou_income['zones'].apply(lambda x : x.replace(" ","").upper())
hou_income= hou_income[(hou_income['zones']!='TOTAL') & (hou_income['zones']!='OTHERS')].reset_index(drop=True)

In [98]:
hou_income['no_working_rate'] = hou_income['No Working Person'] / hou_income['Total']
hou_income['below_5000_rate'] = hou_income[['Below 1000', '1000 - 1999',
       '2000 - 2999', '3000 - 3999', '4000 - 4999', '5000 - 5999']].sum(axis=1) / hou_income['Total']
hou_income['20000_over_rate'] = hou_income['20000 over'] / hou_income['Total']
hou_income['below_8000_rate'] = hou_income[[ 'Below 1000', '1000 - 1999',
       '2000 - 2999', '3000 - 3999', '4000 - 4999', '5000 - 5999',
       '6000 - 6999', '7000 - 7999']].sum(axis=1) / hou_income['Total']
hou_income['above_8000_rate'] = hou_income[['8000 - 8999', '9000 - 9999',
       '10000 - 10999', '11000 - 11999', '12000 - 12999', '13000 - 13999',
       '14000 - 14999', '15000 - 17499', '17500 - 19999', '20000 over']].sum(axis=1) / hou_income['Total']

In [99]:
hou_income.columns = [x+'_hsh_inc' for x in hou_income.columns.values]

In [100]:
hou_income.rename(columns={'zones_hsh_inc':'zones'},inplace=True)

In [101]:
hou_income_df = hou_income

# Personal Income 2010

In [133]:
income_2010 = pd.read_csv('C:/Users/liuleo/Documents/Eiqua_SG/External_data/Cleaning/age_15_working_new/income_level_2010.csv')

In [134]:
income_2010['zones'] = income_2010['zones'].apply(lambda x : x.replace(" ","").upper())
income_2010= income_2010[income_2010['zones']!='OTHERS'].reset_index(drop=True)

In [135]:
income_2010.columns.values

array(['zones', 'Total', 'Below 1000', '1000 - 1499', '1500 - 1999',
       '2000 - 2499', '2500 - 2999', '3000 - 3999', '4000 - 4999',
       '5000 - 5999', '6000 - 6999', '7000 - 7999', '8000 & Over'], dtype=object)

In [136]:
income_2010['inc_prv_Below_1000_rate'] = income_2010['Below 1000'] / income_2010['Total']
income_2010['inc_prv_8000 & Over_rate'] = income_2010[['8000 & Over']].sum(axis=1) / income_2010['Total']

income_2010['inc_prv_1000_7999_rate'] = income_2010[['1000 - 1499', '1500 - 1999',
       '2000 - 2499', '2500 - 2999', '3000 - 3999', '4000 - 4999',
       '5000 - 5999', '6000 - 6999', '7000 - 7999']].sum(axis=1) / income_2010['Total']

In [137]:
income_2010.columns = ['inc_prv_' + x for x in income_2010.columns.values]
income_2010.rename(columns={
    'inc_prv_zones' : 'zones',
    'inc_prv_inc_prv_Below_1000_rate' : 'inc_prv_Below_1000_rate',
    'inc_prv_inc_prv_8000 & Over_rate' : 'inc_prv_8000 & Over_rate',
    'inc_prv_inc_prv_1000_7999_rate' : 'inc_prv_1000_7999_rate'
},inplace=True)

In [138]:
income_2010_df = income_2010

In [139]:
income_2010_df

,zones,inc_prv_Total,inc_prv_Below 1000,inc_prv_1000 - 1499,inc_prv_1500 - 1999,inc_prv_2000 - 2499,inc_prv_2500 - 2999,inc_prv_3000 - 3999,inc_prv_4000 - 4999,inc_prv_5000 - 5999,inc_prv_6000 - 6999,inc_prv_7000 - 7999,inc_prv_8000 & Over,inc_prv_Below_1000_rate,inc_prv_8000 & Over_rate,inc_prv_1000_7999_rate
0,ANGMOKIO,91070,12288,9085,8986,8850,7268,12491,8186,6040,4185,2724,10967,0.134929,0.120424,0.744647
1,BEDOK,147667,17582,13131,13185,13403,10797,19091,12647,10048,7684,4912,25187,0.119065,0.170566,0.710369
2,BISHAN,46623,4283,2967,3239,3487,2966,5914,4651,3832,2892,2405,9987,0.091865,0.214208,0.693928
3,BUKITBATOK,75001,7604,6520,6001,7170,5665,10458,7530,5374,3963,2668,12050,0.101385,0.160665,0.737977
4,BUKITMERAH,78447,11884,8178,6569,7040,5438,9560,7610,5964,3820,3152,9232,0.151491,0.117685,0.730825
5,BUKITPANJANG,66005,7457,6177,6021,6268,5555,9670,6581,5143,3262,2267,7605,0.112976,0.115219,0.771820
6,BUKITTIMAH,32557,1875,999,765,1264,1085,2501,2293,2133,1898,1784,15961,0.057591,0.490248,0.452192
7,CHANGI,1180,123,103,59,65,59,114,329,157,57,30,83,0.104237,0.070339,0.824576
8,CHOACHUKANG,87543,8586,6920,7293,8085,7315,13485,9934,7314,5033,3463,10112,0.098078,0.115509,0.786379
9,CLEMENTI,46003,4982,3465,3366,4113,3503,5917,4716,3574,2518,1831,8017,0.108297,0.174271,0.717410
10,DOWNTOWNCORE,1970,223,170,187,95,111,257,188,125,147,72,395,0.113198,0.200508,0.686294
11,GEYLANG,61514,8518,6710,6324,5824,5246,8376,5592,4027,2546,1929,6422,0.138473,0.104399,0.757128
12,HOUGANG,110594,13476,10904,10694,11210,9084,15528,10729,7496,5252,3593,12626,0.121851,0.114165,0.763965
13,JURONGEAST,44946,5206,4025,4044,4476,3948,6734,4389,3415,2237,1634,4838,0.115828,0.107640,0.776532
14,JURONGWEST,138273,15601,12625,13057,15217,12885,22082,15387,10327,6763,4099,10231,0.112828,0.073991,0.813188
15,KALLANG,50022,7651,5157,4759,4560,3761,6185,4268,2993,2239,1543,6906,0.152953,0.138059,0.708988
16,MANDAI,801,69,53,19,25,25,106,39,64,51,120,230,0.086142,0.287141,0.626717
17,MARINEPARADE,21204,1940,1248,1099,1441,1125,2216,1813,1553,1292,891,6587,0.091492,0.310649,0.597906
18,NEWTON,2677,149,77,57,144,71,203,167,135,148,89,1437,0.055659,0.536795,0.407546
19,NOVENA,22673,2262,1689,1545,1677,1369,2491,1836,1705,1159,820,6120,0.099766,0.269925,0.630309
20,OUTRAM,8441,2105,1034,778,777,539,932,555,460,348,143,770,0.249378,0.091221,0.659401
21,PASIRRIS,65991,5596,4362,5193,5465,5273,9449,7292,5606,4134,2861,10760,0.084799,0.163053,0.752148
22,PUNGGOL,31603,1979,1883,2304,2640,2555,5003,3971,3250,2273,1644,4102,0.062621,0.129798,0.807613
23,QUEENSTOWN,46307,5710,4254,3477,3948,2987,5836,4385,3220,2600,1818,8073,0.123307,0.174336,0.702378
24,RIVERVALLEY,3956,129,75,93,159,190,308,271,298,249,147,2037,0.032609,0.514914,0.452477
25,ROCHOR,7690,950,770,683,825,623,1099,791,504,345,241,858,0.123537,0.111573,0.764759
26,SEMBAWANG,37948,3381,2899,3347,3496,3226,6073,4546,3509,2146,1643,3683,0.089096,0.097054,0.813877
27,SENGKANG,88047,7501,6695,7274,8422,6933,13515,10326,7734,5865,3949,9833,0.085193,0.111679,0.803128
28,SERANGOON,62322,6381,4769,4292,4882,4515,8147,5755,4632,3444,2572,12934,0.102388,0.207535,0.690093
29,SINGAPORERIVER,900,41,0,0,15,20,45,43,72,52,50,562,0.045556,0.624444,0.330000
30,TAMPINES,131051,14180,12057,11534,13252,11525,19380,13511,9446,6743,4568,14853,0.108202,0.113338,0.778445
31,TANGLIN,8025,343,122,124,218,276,614,542,599,355,252,4581,0.042741,0.570841,0.386542
32,TOAPAYOH,62125,8776,5956,5396,5762,4745,8767,5968,4325,2825,2130,7475,0.141264,0.120322,0.738414
33,WOODLANDS,121587,13616,12090,13356,14055,11385,18991,12570,8264,5643,3472,8145,0.111986,0.066989,0.821025
34,YISHUN,93894,11485,10715,10648,10374,8790,13619,9033,5965,3828,2565,6872,0.122319,0.073189,0.804492

# Household income 2010

In [140]:
hou_income_2010 = pd.read_csv('C:/Users/liuleo/Documents/Eiqua_SG/External_data/Cleaning/age_household_new/household_income_2010.csv')

In [141]:
hou_income_2010['zones'] = hou_income_2010['zones'].apply(lambda x : x.replace(" ","").upper())
hou_income_2010= hou_income_2010[hou_income_2010['zones']!='OTHERS'].reset_index(drop=True)

In [142]:
hou_income_2010.columns.values

array(['zones', 'Total', 'NoWorkingPerson', 'Below1000', '1000-1999',
       '2000-2999', '3000-3999', '4000-4999', '5000-5999', '6000-6999',
       '7000-7999', '8000-8999', '9000-9999', '10000&Over'], dtype=object)

In [143]:
hou_income_2010['hsh_inc_prv_no_working_rate'] = hou_income_2010['NoWorkingPerson'] / hou_income_2010['Total']
hou_income_2010['hsh_inc_prv_below_2000_rate'] = hou_income_2010[['Below1000', '1000-1999',]].sum(axis=1) / hou_income_2010['Total']
hou_income_2010['hsh_inc_prv_10000_over_rate'] = hou_income_2010['10000&Over'] / hou_income_2010['Total']

In [144]:
hou_income_2010.columns = ['hsh_inc_prv_' + x for x in hou_income_2010.columns.values]
hou_income_2010.rename(columns={
    'hsh_inc_prv_zones' : 'zones',
    'hsh_inc_prv_hsh_inc_prv_no_working_rate' : 'hsh_inc_prv_no_working_rate',
    'hsh_inc_prv_hsh_inc_prv_below_2000_rate' : 'hsh_inc_prv_below_2000_rate',
    'hsh_inc_prv_hsh_inc_prv_10000_over_rate' : 'hsh_inc_prv_10000_over_rate'
},inplace=True)

In [145]:
hou_income_2010_df = hou_income_2010

In [146]:
hou_income_2010_df

,zones,hsh_inc_prv_Total,hsh_inc_prv_NoWorkingPerson,hsh_inc_prv_Below1000,hsh_inc_prv_1000-1999,hsh_inc_prv_2000-2999,hsh_inc_prv_3000-3999,hsh_inc_prv_4000-4999,hsh_inc_prv_5000-5999,hsh_inc_prv_6000-6999,hsh_inc_prv_7000-7999,hsh_inc_prv_8000-8999,hsh_inc_prv_9000-9999,hsh_inc_prv_10000&Over,hsh_inc_prv_no_working_rate,hsh_inc_prv_below_2000_rate,hsh_inc_prv_10000_over_rate
0,ANGMOKIO,59705,8467,3136,5549,6055,5236,4565,3959,3357,2911,2442,1891,12137,0.141814,0.145465,0.203283
1,BEDOK,91224,11143,3782,6857,7476,7362,6596,5825,5444,4352,3807,3298,25281,0.122150,0.116625,0.277131
2,BISHAN,27457,2855,595,1166,1390,1717,1616,1594,1684,1622,1380,1573,10264,0.103981,0.064137,0.373821
3,BUKITBATOK,44133,3452,1136,2849,3486,3723,3537,3264,3024,2480,2172,1922,13088,0.078218,0.090295,0.296558
4,BUKITMERAH,55627,10311,4142,5324,4495,3767,3679,3602,2918,2553,2342,1809,10685,0.185360,0.170169,0.192083
5,BUKITPANJANG,36339,2260,846,2324,3092,3261,3250,3069,2618,2453,2223,1623,9320,0.062192,0.087234,0.256474
6,BUKITTIMAH,20658,2612,344,340,528,569,761,602,625,467,610,561,12639,0.126440,0.033111,0.611821
7,CHANGI,778,31,25,37,59,84,139,94,60,21,42,38,147,0.039846,0.079692,0.188946
8,CHOACHUKANG,47912,2356,846,2463,3491,4099,4213,3911,3926,3583,3288,2839,12899,0.049173,0.069064,0.269223
9,CLEMENTI,30792,4321,1239,2098,2488,2319,2074,2251,1859,1520,1155,1124,8344,0.140329,0.108372,0.270979
10,DOWNTOWNCORE,1429,198,40,112,110,98,85,103,110,95,84,47,346,0.138558,0.106368,0.242127
11,GEYLANG,40285,6097,2425,3980,3774,3563,3103,2760,2352,1781,1424,1146,7881,0.151347,0.158992,0.195631
12,HOUGANG,62285,5058,1749,4899,5714,5905,5223,5084,4501,3487,3118,2697,14850,0.081207,0.106735,0.238420
13,JURONGEAST,26292,2470,814,1639,2303,2350,2277,2166,1824,1663,1449,1195,6143,0.093945,0.093298,0.233645
14,JURONGWEST,78083,5400,2157,5174,7286,8217,7557,6606,6526,5553,4520,3653,15434,0.069157,0.093887,0.197661
15,KALLANG,35474,6429,2588,3460,2957,2721,2356,2021,1726,1550,1337,1213,7117,0.181231,0.170491,0.200626
16,MANDAI,489,74,0,19,0,13,0,32,13,31,53,6,248,0.151329,0.038855,0.507157
17,MARINEPARADE,15498,3029,525,813,906,910,728,692,677,449,694,403,5671,0.195445,0.086334,0.365918
18,NEWTON,2175,441,28,34,59,72,71,77,102,51,64,25,1152,0.202759,0.028506,0.529655
19,NOVENA,15207,2194,559,1138,1009,1046,815,784,667,636,533,423,5404,0.144276,0.111593,0.355363
20,OUTRAM,7388,2009,1076,928,557,513,407,312,293,180,154,98,861,0.271927,0.271251,0.116540
21,PASIRRIS,36057,1694,449,1416,1992,2667,2832,2931,2971,2567,2350,1825,12364,0.046981,0.051724,0.342902
22,PUNGGOL,18043,806,175,690,1090,1371,1527,1579,1674,1339,1348,1030,5415,0.044671,0.047941,0.300116
23,QUEENSTOWN,34365,6642,1753,2832,2733,2601,2061,2174,1789,1525,1330,1068,7856,0.193278,0.133421,0.228605
24,RIVERVALLEY,2748,387,6,26,131,96,117,74,77,92,66,57,1618,0.140830,0.011645,0.588792
25,ROCHOR,5257,888,253,378,429,512,464,386,273,252,203,203,1012,0.168918,0.120030,0.192505
26,SEMBAWANG,20613,829,317,839,1547,1795,1996,2072,1885,1525,1390,1047,5370,0.040217,0.056081,0.260515
27,SENGKANG,47787,1800,558,2333,3488,4025,4005,4421,4026,3831,3428,2832,13040,0.037667,0.060498,0.272878
28,SERANGOON,35986,3669,863,1853,2299,2448,2626,2533,2152,1690,1822,1548,12484,0.101956,0.075474,0.346913
29,SINGAPORERIVER,798,117,19,0,9,25,24,37,29,19,34,12,472,0.146617,0.023810,0.591479
30,TAMPINES,73591,5294,1812,4646,5922,6302,6235,6142,5625,5011,4418,3729,18454,0.071938,0.087755,0.250764
31,TANGLIN,5588,737,84,63,122,138,155,165,129,121,214,114,3546,0.131890,0.026306,0.634574
32,TOAPAYOH,42977,7132,2894,3914,3850,3425,3052,2501,2254,2056,1924,1518,8456,0.165949,0.158410,0.196756
33,WOODLANDS,68279,4249,1779,5266,6722,6898,7096,6192,5640,4566,4242,3162,12467,0.062230,0.103180,0.182589
34,YISHUN,53576,4367,1534,4817,5820,5294,5295,4745,3850,3267,2738,2229,9620,0.081510,0.118542,0.179558

# Merge datasets

In [147]:
all_df = all_df.merge(marital_df,on='zones',how='left')

all_df = all_df.merge(age_gender_df, on='zones',how='left')

all_df = all_df.merge(marital_df,on='zones',how='left')

all_df = all_df.merge(ethnic_df,on='zones',how='left')

all_df = all_df.merge(dwelling_df,on='zones',how='left')

all_df = all_df.merge(edu_df,on='zones',how='left')

In [148]:
df_list = [eco_df,religion_df,income_df,indus_df,occup_df,trans_time_df,trans_mode_df,trans_school_time_df,ten_own_df,NB_PER_df,
     hou_income_df,fam_str_df,income_2010_df,hou_income_2010_df]

In [149]:
for df in df_list:
    all_df = all_df.merge(df,on='zones',how='left')

In [150]:
all_df.shape

(55, 152)

# Adding HDB Units number in different zones

In [61]:
hdb_units = pd.read_csv('C:/Users/liuleo/Documents/Eiqua_SG/External_data/Cleaning/age_household_new/HDB_dwelling_units.csv')

In [157]:
hdb_units['zones'] = hdb_units['zones'].apply(lambda x : x.replace(" ","").upper())

In [159]:
all_df = all_df.merge(hdb_units,on='zones',how='left')

In [163]:
all_df.to_csv('C:/Users/liuleo/Documents/Eiqua_SG/External_data/Cleaning/AFinal/ext_zones_lv.csv',sep='|',index=False)

In [60]:
all_df = pd.read_csv('C:/Users/liuleo/Documents/Eiqua_SG/External_data/zones_subzones/ext_zones_lv.csv')

In [65]:
for col in ['HDB_1-Room','HDB_2-Room','HDB_3-Room','HDB_4-Room','HDB_5-Room','HDB_executive','HDB_studio_apt','HDB_Total']:
    all_df[col] = all_df[col].apply(lambda x : -x if x <0 else x)

In [68]:
all_df.to_csv('C:/Users/liuleo/Documents/Eiqua_SG/External_data/zones_subzones/ext_zones_lv.csv',sep='|',index=False)

# Add attributes to geo-json file

In [2]:
all_df = pd.read_csv('C:/Users/liuleo/Documents/Eiqua_SG/External_data/zones_subzones/ext_zones_lv.csv')

In [3]:
all_df.isnull().sum()

zones                                 0
Region                                0
Area                                  0
Population                            0
Density                               0
pop_rate                              0
log_pop                               0
price_psqm_mean_hdb                  24
price_psqm_median_hdb                24
price_psqm_mean_condo                16
price_psqm_median_condo              16
Single_rate                          20
Married_rate                         20
female_male_ratio                    14
15-_rate                             14
15-24_rate                           14
25-54_rate                           14
25-34_rate                           14
35-44_rate                           14
45-54_rate                           14
55-64_rate                           14
65+_rate                             14
Chinese_rate                         14
Malai_rate                           18
Indian_rate                          14
Other_ethnic_rate                    14
Condominiums and Other Apartments     0
HDB 1- and 2-Room Flats               0
HDB 3-Room Flats                      0
HDB 4-Room Flats                      0
                                     ..
inc_prv_6000 - 6999                  20
inc_prv_7000 - 7999                  20
inc_prv_8000 & Over                  20
inc_prv_Below_1000_rate              20
inc_prv_8000 & Over_rate             20
inc_prv_1000_7999_rate               20
hsh_inc_prv_Total                    20
hsh_inc_prv_NoWorkingPerson          20
hsh_inc_prv_Below1000                20
hsh_inc_prv_1000-1999                20
hsh_inc_prv_2000-2999                20
hsh_inc_prv_3000-3999                20
hsh_inc_prv_4000-4999                20
hsh_inc_prv_5000-5999                20
hsh_inc_prv_6000-6999                20
hsh_inc_prv_7000-7999                20
hsh_inc_prv_8000-8999                20
hsh_inc_prv_9000-9999                20
hsh_inc_prv_10000&Over               20
hsh_inc_prv_no_working_rate          20
hsh_inc_prv_below_2000_rate          20
hsh_inc_prv_10000_over_rate          20
HDB_1-Room                           26
HDB_2-Room                           26
HDB_3-Room                           26
HDB_4-Room                           26
HDB_5-Room                           26
HDB_executive                        26
HDB_studio_apt                       26
HDB_Total                            26
Length: 158, dtype: int64

In [4]:
all_df.fillna(0,inplace=True)

In [6]:
all_df['12000 over']

0      8.6
1     19.4
2      7.6
3      0.0
4      7.4
5      8.0
6      6.1
7     13.7
8      0.0
9      0.0
10     0.0
11     6.5
12     6.1
13     0.0
14     4.9
15     9.2
16     3.4
17     7.7
18     6.6
19     0.0
20     0.0
21     0.0
22     0.0
23     4.8
24     0.0
25     0.0
26     0.0
27     5.8
28     0.0
29     1.2
30     7.9
31     0.0
32     0.0
33     4.6
34     5.8
35     0.0
36     0.0
37     0.0
38     2.3
39     9.3
40    10.7
41     0.0
42     0.0
43     0.0
44     0.0
45     0.0
46    11.6
47     4.8
48     0.0
49     6.1
50     0.0
51     0.0
52     0.0
53     4.8
54     4.5
Name: 12000 over, dtype: float64

In [8]:
all_df[all_df['inc_prv_8000 & Over'] != 0]['inc_prv_8000 & Over'].quantile([0.125,0.25,0.375,0.5,0.625,0.75,0.875])

0.125      792.00
0.250     3892.50
0.375     6346.50
0.500     7475.00
0.625     8416.75
0.750    10171.50
0.875    12482.00
Name: inc_prv_8000 & Over, dtype: float64

In [72]:
# convert numeric to same serializable format 
for col in all_df.columns:
    #print all_df[col].dtype
    if all_df[col].dtype == 'int64':
        all_df[col] = all_df[col].astype(np.float64)

In [73]:
with open('C://Users/liuleo/Documents/Eiqua_SG/External_data/zones_subzones/zones_singapore.json', "r") as jsonFile:
    data = json.load(jsonFile)

In [74]:
geo_map = {}
for f in data['features']:
    k = f['properties']['Name']
    v = k.replace(" ","").upper()
    geo_map[k] = v

In [75]:
len(geo_map)

55

In [76]:
for f in data['features']:
    info = {}
    name = f['properties']['Name']
    info['Name'] = name
    
    if not name in geo_map.keys():
        continue
    
    value_df = all_df[all_df['zones']==geo_map[name]].reset_index(drop=True)
    #print name
    #print value_df
    for col in [x for x in all_df.columns.values if x not in ['zones']]:
        #print col
        #print value_df[col].values[0]
        info[col] = value_df[col].values[0]
    
    f['info'] = info

# Write json file and create input variable for geo-viz js

In [80]:
with open("C://Users/liuleo/Documents/Eiqua_SG/External_data/zones_subzones/sg_pop_kt.json", "w") as outfile:
    outfile.write(json.dumps(data))
jsonFile.close()
outfile.close()

In [97]:
tmp = json.dumps(data)

output_var = 'var zones = [' + tmp + ']'

In [ ]:
%store output_var > "C://Users/liuleo/Documents/Eiqua_SG/External_data/zones_subzones/test.js"